

{% unless options contains 'no-footer' %}

<footer self="size-large" layout="columns bottom-center"{% if color != null %} style="background-color: {{ color }}"{% endif %}>

<div layout="rows top-justify" style="margin-top: 48px; padding: 24px; margin-bottom: 12px; width: 100%; max-width: 720px;">

    <div self="sm-full" layout="column center-left" style="gap: 8px; width: auto">

        <a href="{{ "/" | url }}" layout="row center-left" style="gap:8px">
            <i class="material-icons">home</i>
            <h1 style="font-size: 150%!important; margin: 0!important; padding: 0!important;">
                HomeGenie
            </h1>
        </a>

        <ul style="margin-top: 0; padding-top: 0; padding-left: 26px;">
            <li>
                <a href="{{ "/panel" |  url }}">Smart Panel</a>
            </li>
            <li>
                <a href="{{ "/mini" | url }}">Smart Device</a>
            </li>
            <li>
                <a href="{{ "/server" | url }}">Programmable Intelligence</a>
            </li>
        </ul>

    </div>

    <div self="sm-full" layout="column center-left" style="gap: 8px;width: auto">

        <!--
        <a href="https://github.com/genielabs">
            <img src="{{ '/images/glabs-logo.svg' |  url }}" width="64px">
        </a>
        -->
        <!--
        <img src="{{ '/images/zuix-logo.svg' |  url }}" width="64px">
        -->

        <h1 style="font-size: 120%!important; margin: 0!important; padding: 0!important; opacity: 0.6">
            Browse all code and repositories
        </h1>

        <ul style="margin-top: 0; padding-top: 0; padding-left: 26px">
            <li>
                <a href="https://github.com/genielabs">genielabs on GitHub</a>
            </li>
            <li>
                <a href="https://github.com/zuixjs">zuix.js on GitHub</a>
            </li>
        </ul>

    </div>

</div>


    <div self="size-large" layout="rows center-justify" style="padding: 24px;max-width: 960px; width: 100%;">

        <div self="left" style="margin-bottom: 24px">
            <a href="{{ '/feed/rss.xml' | url }}" layout="row center-left" style="gap: 8px">
                <img src="{{ '/images/rss-feed.png' | url }}" width="24" height="24">
                <strong>RSS feed</strong>
            </a>
        </div>

        <div self="right" style="margin-bottom: 24px">
            &copy; 2012-to-infinity-and-beyond by <a class="accent" href="https://glabs.it">G-Labs</a>
        </div>

    </div>

</footer>
{% endunless %}
