---
options: highlight ext-links
title: The programmable automation system
date: Last Modified
release_name: v1.4
release_tag: 1.4.0-beta.34
download_link: "https://github.com/genielabs/HomeGenie/releases/download/v{{release_tag}}/homegenie_{{release_tag}}"
architectures:
- win-x64
- osx-x64
- linux-x64
- linux-arm
- linux-arm64
---
{% include "head_open" %}
<style>
    {% include "layouts/common/forms.css" %}
    {% include "layouts/common/theme.css.liquid" %}

    body {
        font-size: 110%;
        height: 100vh;
        background-color: #f3f3f3;
        color: #333;
        margin:0;
        padding:0;
    }

    p {
        line-height: 160%;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    a {
        color: #002fec;
    }
    em {
        opacity: 0.75;
    }
    h2 {
        color: #0076b0;
        margin-top: 60px;
    }
    h3 {
        color: #099fee;
    }

    ul {
        padding: 0;
        max-width: 800px;
    }
    ul li {
        line-height: 130%;
        list-style: none;
        position: relative;
        padding: 12px 0 2px 20px;
    }

    ul li::before {
        content: '\2022';
        opacity: 0.3;
        position: absolute;
        top: 13px;
        left: 0;
    }
    ul.flat-list {
        font-size: 90%;
        line-height: 100%;
    }
    ul.flat-list li {
        padding: 0;
    }
    ul.flat-list li code {
        font-size: 75%;
        opacity: 0.7;
        margin-right: 4px;
    }
    ul.flat-list li::before {
        content: '';
    }

    img {
        max-width: 100%;
    }
    pre {
        font-size: 80% !important;
    }
    .button {
        gap: 6px;
        width: 156px;
        text-align: center;
    }
    .button .material-icons {
        opacity: 0.25;
    }
    .section {
        width: 100%;
        max-width: 960px;
        padding: 8px;
    }
    .features-box {
        width: 380px;
    }
    .docs ul {
        padding-bottom: 24px;
    }
    .docs ul li {
        font-size: 90%;
        padding-top: 0;
        padding-bottom: 0;
    }
    .docs ul li::before {
        top: 0;
    }
    .docs code {
        overflow-wrap: break-word;
    }
</style>
{% include "head_close.html" %}

<body layout="column start-center">

    <div class="section" style="padding-top:24px;padding-bottom: 0"
         layout="row start-justify">
        <div>
            <h1 aria-description="HomeGenie, the programmable automation system, logo"
                 class="animate__animated animate__fadeInLeft animate__faster"
                 style="margin: 0; padding:0">
                <style>
                    svg {
                        width: 272px;
                        height: 72px;
                        fill: #3aa3f1;
                    }
                </style>
                <span style="max-height: 0; overflow: hidden; display: block">HomeGenie</span>
                {% include './images/homegenie-text-logo.svg' %}
            </h1>
        </div>

        <div layout="row center-right">
            <!--
            <a href="https://github.com/genielabs/HomeGenie/"
               title="Source code on GitHub.com"
               style="padding:6px;opacity: 0.5;overflow: hidden">
                <img alt="GitHub logo" src="images/github-mark.png" width="48" height="48"
                     class="animate__animated animate__fadeInRight animate__faster">
            </a>
            -->
            <span style="font-size: 48px;line-height: 56px"
                  class="animate__animated animate__fadeInRight animate__faster">🧞</span>
        </div>

    </div>

    <div layout="row center-spread">
        <div self="size-x1" style="border:solid 1px; height: 1px; opacity:.1"></div>
        <div style="border-radius: 24px; border: 1px solid #ddd; padding-bottom: 4px;">
            <p style="margin: 0; font-size: 90%; opacity: 0.75;text-align: center; padding-left: 16px; padding-right: 16px">
                the programmable automation intelligence
            </p>
        </div>
        <div self="size-x1" style="border:solid 1px;height: 1px; opacity:.1"></div>
    </div>

    <div layout="column center-stretch" class="section" style="gap: 12px;">

        <div layout="rows top-justify" style="margin-top: 12px; margin-bottom: 48px">

            <div -class="features-box">
                <h2>Scalable, customizable and portable</h2>

                <ul>
                    <li>
                        Runs on <strong>Windows</strong>, <strong>Mac</strong>, <strong>Linux</strong>
                        and ARM-based computers
                        <small>(such as <strong>Raspberry Pi</strong>)</small>
                    </li>
                    <li>
                        Self-contained application with libraries optimized for each architecture
                    </li>
                    <li>
                        Deploy easily with a single (zipped) folder - ready to run anywhere
                    </li>
                    <li>Setup Wizard</li>
                    <li>Configuration Backup/Restore</li>
                    <li>Customizable client UI presets</li>
                    <li>Package system to quickly add/remove extra features</li>
                    <li>
                        Integrated <strong>smart home</strong> drivers:<br>
                        &nbsp;&nbsp;<em>KNX</em>, <em>X10</em>, <em>ZigBee</em>, <em>Z-Wave</em>
                    </li>
                </ul>
            </div>


            <div style="font-size: 90%">
                <p>In the video below:</p>
                <ul class="flat-list">
                    <li><code>00:00 - 00:52</code> Initial setup <small>(example with ZigBee and Z-Wave)</small></li>
                    <li><code>00:53 - 02:19</code> Dashboard customization</li>
                    <li><code>02:20 - 03:39</code> Smart thermostat with user-configurable temperature sensor and relays</li>
                </ul>
            </div>

            <video src="images/home/homegenie_setup_wizard.m4v"
                   controls muted
                   poster="images/home/homegenie_setup_wizard.png"
                   style="cursor: pointer; max-width:100%; aspect-ratio: 8/5;"></video>

            <!--
            <img src="/images/home/homegenie_yot_setup_settings.png" style="max-width: 100%">
            <div layout="rows center-center" style="gap: 8px">
                <img src="/images/home/homegenie_yot_setup_home.png" width="512">
                <img src="/images/home/homegenie_yot_setup_regional.png" width="396">
                <img src="/images/home/homegenie_yot_setup_settings.png" width="396">
            </div>
            -->

        </div>

        <div layout="rows top-justify">

            <div class="features-box">
                <h3>Automation IDE</h3>
                <ul>
                    <li>Supports <em></em>C#</em>, <em>JavaScript</em>, <em>Python</em> and visual programming</li>
                    <li>Direct access to <em>GPIO</em>, <em>I2C</em>, <em>SPI</em> and serial ports</li>
                    <li>
                        Includes
                        <a href="https://learn.microsoft.com/en-us/dotnet/iot/"
                           target="_blank">.NET IoT Libraries</a>
                        with bindings for
                        <a href="https://github.com/dotnet/iot/blob/main/src/devices/README.md"
                           target="_blank">thousands of components</a>
                    </li>
                    <li>Fluent <a title="Automation Programs' API" href="./api/ape/annotated.html">API</a> for handling devices, events and data</li>
                    <li>Realtime data processing and analysis</li>
                    <li>Custom widgets using <a href="https://zuixjs.org/" target="_blank">zuix.js</a> web components</li>
                </ul>
            </div>

            <div class="features-box">
                <h3>Scheduler</h3>
                <ul>
                    <li>Extended crontab expressions</li>
                    <li>Scripting</li>
                </ul>
                <h3>Examples included</h3>
                <ul>
                    <li>Weather Widget</li>
                    <li>Security Alarm System</li>
                    <li>Energy Monitor</li>
                    <li>Smart Thermostat</li>
                    <li>Raspberry Pi: <em>DHTxx</em> temperature/humidity sensing and <em>GPIO</em> control</li>
                    <li>... and more!</li>
                </ul>
            </div>

            <div style="font-size: 90%">
                <p>In the video below:</p>
                <ul class="flat-list">
                    <li><code>00:00 - 00:24</code> The scheduler</li>
                    <li><code>00:25 - 04:15</code> Visual program example</li>
                    <li><code>04:16 - 05:19</code> DHT-22 C# program example (Raspberry Pi)</li>
                </ul>
            </div>

            <video src="images/home/homegenie_automation_01.m4v"
                   controls muted
                   poster="images/home/homegenie_automation_01.png"
                   style="max-width:100%; aspect-ratio: 15/10; margin-bottom: 48px"></video>

        </div>

        <h2>Quick setup</h2>

        <h3>Installing HomeGenie {{ release_name }}</h3>

        <h4 style="margin: 0; opacity: 0.7">Select architecture:</h4>
        <select class="button" style="width: 200px;"
                onchange="setTargetArchitecture(this.value)">
            <option value="win-x64">
                Windows 64-bit
            </option>
            <option value="osx-x64">
                Mac OSX 64-bit
            </option>
            <option value="linux-x64">
                Linux 64-bit
            </option>
            <option value="linux-arm">
                Linux ARM 32-bit
            </option>
            <option value="linux-arm64" selected>
                Linux ARM 64-bit
            </option>
        </select>

<div id="win-x64" class="setup-code" style="display: none">
    <p>Enter the following commands in a terminal:</p>
<pre><code class="language-bash">curl https://github.com/genielabs/HomeGenie/releases/download/v{{ release_tag }}/homegenie_{{ release_tag }}_win-x64.zip
tar -xf homegenie_{{ release_tag }}_win-x64.zip
</code></pre>
</div>

<div id="osx-x64" class="setup-code" style="display: none">
    <p>Enter the following commands in a terminal:</p>
<pre><code class="language-bash">curl https://github.com/genielabs/HomeGenie/releases/download/v{{ release_tag }}/homegenie_{{ release_tag }}_osx-x64.zip
unzip homegenie_{{ release_tag }}_osx-x64.zip
</code></pre>
</div>

<div id="linux-x64" class="setup-code" style="display: none">
    <p>Enter the following commands in a terminal:</p>
<pre><code class="language-bash">wget https://github.com/genielabs/HomeGenie/releases/download/v{{ release_tag }}/homegenie_{{ release_tag }}_linux-x64.zip
unzip homegenie_{{ release_tag }}_linux-x64.zip
</code></pre>
</div>

<div id="linux-arm" class="setup-code" style="display: none">
    <p>Enter the following commands in a terminal:</p>
<pre><code class="language-bash">wget https://github.com/genielabs/HomeGenie/releases/download/v{{ release_tag }}/homegenie_{{ release_tag }}_linux-arm.zip
unzip homegenie_{{ release_tag }}_linux-arm.zip
</code></pre>
</div>

<div id="linux-arm64" class="setup-code">
    <p>Enter the following commands in a terminal:</p>
<pre><code class="language-bash">wget https://github.com/genielabs/HomeGenie/releases/download/v{{ release_tag }}/homegenie_{{ release_tag }}_linux-arm64.zip
unzip homegenie_{{ release_tag }}_linux-arm64.zip
</code></pre>
</div>
<div class="docs">
{% renderTemplate "md" %}

### Running in a terminal

Set the current directory to `homegenie` and run the `./HomeGenie` command:

```bash
cd homegenie
./HomeGenie
```

To stop the application press `CTRL + C`


### Running as a system service

HomeGenie can be installed as a service. The procedure is different depending on the
hosting operating system.

#### Recommended procedure for Linux

1) Add a specific user for the service and copy the content of `homegenie` folder
to the new user home directory:

```bash
sudo useradd homegenie
sudo cp -ar ./path-to-extracted-folder/homegenie /home/homegenie
sudo chown -R homegenie:homegenie /home/homegenie
```

2) Create the file `/etc/systemd/system/homegenie.service` with the following content:
```bash
[Unit]
Description=HomeGenie

[Service]
Type=notify
User=homegenie
WorkingDirectory=/home/homegenie/
ExecStart=/home/homegenie/HomeGenie
Restart=on-failure

[Install]
WantedBy=multi-user.target
```

3) Refresh `SystemD` configuration
```bash
sudo systemctl daemon-reload
```

4) Start the service and enable <em>HomeGenie</em> to auto-start on next system boot:
```bash
sudo systemctl start homegenie.service
sudo systemctl enable homegenie.service
```

Other possible commands are `status`, `stop` and `disable`.


See also:
- [Create Linux Service](https://devblogs.microsoft.com/dotnet/net-core-and-systemd/#create-unit-files) (SystemD)
- [Create Windows Service](https://learn.microsoft.com/en-us/dotnet/core/extensions/windows-service#create-the-windows-service)


### Accessing the UI

HomeGenie user interface can be accessed from any web browser entering the url

&nbsp;&nbsp;&nbsp;&nbsp; `http://<server_ip>:<port>/`

Where `server_ip` is the IP address of the machine where HomeGenie is running and `port` can be *80*
or the first available port starting from *8080*.
<small>(ex. *http://192.168.1.150:8080/*)</small>

The `port` settings can be changed either from the maintenance page
or editing the `systemconfig.xml` file located in the application folder.


### Optional post-installation steps

Depending on the hosting operating system, it might be required to run additional steps
in order to allow the service to access the **Serial port**, **USB** devices and **GPIO** hardware.

To enable **audio playack** and **voice synthesis**:
```shell
# Audio playback utilities
sudo apt-get install alsa-utils lame
# Embedded speech syntesys engine
sudo apt-get install libttspico-utils
```

To use **X10 Home Automation** hardware:
```shell
sudo apt-get install libusb-1.0-0 libusb-1.0-0-dev
```

To grant access to **CM15/CM19** USB devices to the `homegenie` user, create a new
*udev* rules file called `/etc/udev/rules.d/98-cm15_cm19.rules` and add the following lines to it:
```shell
# CM15 AND CM19 X10 controllers
ATTRS{idVendor}=="0bc7", ATTRS{idProduct}=="0001", MODE="0660", GROUP="homegenie"
ATTRS{idVendor}=="0bc7", ATTRS{idProduct}=="0002", MODE="0660", GROUP="homegenie"
```
then unplug and plug the device again.

To grant access to the **Serial port** and/or **GPIO** to the `homegenie` user:
```shell
sudo gpasswd -a homegenie dialout
sudo gpasswd -a homegenie gpio
```

{% endrenderTemplate %}
</div>


        <h2 style="margin-bottom: 0">Source code and downloads</h2>

                <ul>
                    <li>GitHub <a href="https://github.com/genielabs/HomeGenie">repository</a></li>
                    <li>GitHub automated build <a href="https://github.com/genielabs/HomeGenie/releases/latest">downloads</a></li>
                </ul>


        <h2 style="margin-bottom: 0">Previous release</h2>
        <h3 style="font-weight: 300; margin-top: 0">
            <a href="content/intro/">HomeGenie v1.3</a>
        </h3>

        <small style="margin-top: 112px;text-align: center; margin-bottom: 56px">
             &copy; 2012-to-infinity-and-beyond by <a href="https://glabs.it">G-Labs</a>
        </small>
    </div>

</body>
{% include "body_end" %}

<!-- page script -->
<script>
  function setTargetArchitecture(arch) {
    document.querySelectorAll('.setup-code').forEach((c) => {
      c.style.display = 'none';
    });
    document.querySelector('#' + arch).style.display='';
  }
</script>

{% include "html_close.html" %}
